html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Advent Pro', sans-serif;
}

.logo {
    margin-top: 40px;
}

.description {
    margin-top: 30px;
}

.CTA {
    text-align: center;
}

.CTA-button {
    margin-top: 20px;
    font-family: 'Advent Pro', sans-serif;
}

.CTA-button:hover {
    background-color: #004455;
    color: #fff;
    border-color: #004455;
}
