html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 140%;
}

h1, h2, h3, p {
    line-height: 190% !important;
}

.logo {
    margin-top: 40px;
    text-align: center;
}

.description {
    margin-top: 30px;
    text-align: justify;
}

.CTA {
    text-align: center;
}

.CTA-button {
    margin-top: 0px;
    margin-bottom: 20px;
}

.CTA-button:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dotted #333;
}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 8px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 8px);}
    to {-moz-transform: translate(0, -0px);}    
}
